## Data Analysis of Stuidents Performance

In [2]:
import numpy as np
import pandas as pd

In [6]:
import os
print(os.getcwd())

c:\Users\pakya\Desktop\Projects\Data Science\End_To_End_ML_Project\notebook

In [12]:
# read data
df = pd.read_csv('data\StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [16]:
df.columns
df.isna().value_counts()
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [19]:
df['gender'].value_counts()
# the data seems to be non biased based on gender

gender
female    518
male      482
Name: count, dtype: int64

In [23]:
categorical_features = df.select_dtypes(include='object').columns
print(categorical_features)
for col in df.columns:
    if col in categorical_features:
        print(f'The unique values in column {col} are: {df[col].unique()}')

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course'],
      dtype='object')
The unique values in column gender are: ['female' 'male']
The unique values in column race/ethnicity are: ['group B' 'group C' 'group A' 'group D' 'group E']
The unique values in column parental level of education are: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
The unique values in column lunch are: ['standard' 'free/reduced']
The unique values in column test preparation course are: ['none' 'completed']